platformName='android'
platformVersion='9.0'
deviceName='Google Pixel 3'
app='bs://6d535ecd4bbfc2805199f4b5ace5952ef174c7fd'
appName='notion'
remote_url='http://hub.browserstack.com/wd/hub'
browserstack.userName='browserstack_username'
browserstack.accessKey='browserstack_access_key'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'
email='notion_auth_email'
password='notion_auth_password'